{% extends 'layout.html' %}

{% block content %}
    <div class="container">

        <div class="d-flex justify-content-center">
            <div class="col-sm-10">
                <a href="{% url 'board:question_create' %}" class="btn btn-dark float-end" role="button">질문등록</a>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 5%;">#</th>
                        <th scope="col" style="width: 50%;">제목</th>
                        <th scope="col" style="width: 20%;">작성자</th>
                        <th scope="col" style="width: 25%;">작성일시</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    {% for question in question_list %}
                        <tr>
                            <th scope="row">{{ question.id }}</th>
                            <td>
                                <a href="{% url 'board:question_detail' question.id %}"
                                   style="text-decoration: none;">{{ question.subject }}</a>
                                <span class="badge rounded-pill text-bg-light">{{ question.answer_set.count }}</span>
                            </td>
                            <td>{{ question.author }}</td>
                            <td>{{ question.created_at }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-4">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <!-- 첫 페이지 이동 -->
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <!-- 이전 페이지 이동 -->
                    <li class="page-item">
                        {% if question_list.has_previous %}
                            <a class="page-link" href="?page={{ question_list.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">Previous</span></a>
                        {% endif %}
                    </li>

                    <!-- 페이지 이동 -->
                    {% for page_number in page_bar_range %}
                        {% if question_list.number == page_number %}
                            <li class="page-item active"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                        {% endif %}
                    {% endfor %}

                    <!-- 다음 페이지 이동 -->
                    <li class="page-item">
                        {% if question_list.has_next %}
                        <a class="page-link" href="?page={{ question_list.next_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">Next</span>
                        </a>
                        {% endif %}
                    </li>

                    <!-- 마지막 페이지 이동 -->
                    <li class="page-item">
                        <a class="page-link" href="?page={{ question_list.paginator.num_pages }}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}