{% extends 'layout.html' %}

{% block content %}
    <div class="container">

        <div class="d-flex justify-content-center">
            <div class="col-sm-10">
                <a href="{% url 'board:question_create' %}" class="btn btn-dark float-end" role="button">질문등록</a>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 5%;">#</th>
                        <th scope="col" style="width: 55%;">제목</th>
                        <th scope="col" style="width: 20%;">작성자</th>
                        <th scope="col" style="width: 20%;">작성일시</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    {% for question in question_list %}
                        <tr>
                            <th scope="row">{{ question.id }}</th>
                            <td>
                                <a href="{% url 'board:question_detail' question.id %}">{{ question.subject }}</a>
                            </td>
                            <td>{{ question.author }}</td>
                            <td>{{ question.created_at }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}